Feature extraction/.idea
Feature extraction/venv/scripts
Feature extraction/data
Feature extraction/polara
Feature extraction/output
Feature extraction/venv/Lib
Feature extraction/venv/movie_scripts
Feature extraction/venv/SubDownloader
Feature extraction/venv/.ipynb_checkpoints
Feature extraction/src/python-opensubtitles
Feature extraction/src/subtitlesdownloader
Recommender/Subtitile_preprocessing.py
Recommender/__pycache__
Feature extraction/venv/Test.ipynb
Feature extraction/venv/download_scripts.py
Feature extraction/venv/Test.ipynb
Feature extraction/venv/Output.txt
Feature extraction/venv/Feature_extraction_old.ipynb
Web/Webapp/samvise/node_modules
Web/Webapp/samvise/backend/node_modules